<h1>你的会话</h1>
<div class="col-centered">
  <div class="chat">
  <h2>和 <%= chat.with(current_user).name %> 的会话</h2>
  <br>
  <em><%= chat.messages.last.body.truncate(50) %></em>
  <br>
  <%= link_to '查看会话', chat_path(chat) %>
  <hr>
  </div>

</div>
